
@{
    ViewData["Title"] = "SendEmail";
}

<form method="post">
    <label>Subject:</label><br />
    <input type="text" name="subject" /><br /><br />
    <label>Body:</label><br />
    <input type="text" name="body" /><br /><br />
    <input type="submit" value="send" />
</form>

