/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.carousel-item img {
    width: 100%;
    height: 85vh
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

    .team-member img {
        width: 225px;
        height: 225px;
        border: 7px solid #fff;
    }

    .team-member h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }

    .team-member p {
        margin-top: 0;
    }

#team {
    margin-top: 40px
}

.carousel-inner {
    width: 100%
}

.row team {
    margin-top: 10%
}

/* ============  */
main.pb-3 .container {
	margin-top: 80px;
}

.row_event-datail label {
	font-weight: bold;
}

.event-title {
	margin-bottom: 26px;
}

.col--event-image {
	width: 285px;
	padding: 0 15px;
	margin-bottom: 26px;
}

.col--event-detail {
	width: calc(100% - 315px);
	padding: 0 15px;
	margin-bottom: 26px;
}

.col--event-desc {
	width: 100%;
	padding: 0 15px;
}

.col--event-desc .card {
	padding: 14px;
}

@media (max-width: 767px) {
	.col--event-image, .col--event-detail {
		width: 100%;
		
	}
}

#cookieConsent {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: 0;
}

#create-margin {
    margin-top: 20px;
}

.pselab {
    font-weight: bold;
}

.table td {
    padding: 0.4rem;
}

.table th {
    padding: 0.4rem;
   font-weight:500;
}

.card-img-top {
    object-fit: cover;
    width: 100%
}

.nav-item a, .nav-item button, footer {
	font-weight: 600;
}

footer a {
	text-decoration: none;
	color: #f8f9fa;
}

	.nav-item a:hover, .nav-item button:hover, footer a:hover {
		color: #4DB6AC !important;
	}

.navbar, footer {
	background-color: #004D40;
}

.carousel-caption {
	opacity: .6;
	background-color: #ccc;
	padding: 10px;
	right: 0;
	bottom: 0px;
	left: 0;
}
	.carousel-caption h1 {
		color: #004D40;
		margin: 0;
		padding: 0;
		line-height: normal;
	}

.card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 24px;
	max-height: 72px;
	height: 72px;
	margin-top: 10px;
}

.sub-card {
    margin: 15px 0 15px 0;
}