@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div id="slider-animation" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/content/event1.jpg" alt="Los Angeles">

            </div>
            <div class="carousel-item">
                <img src="~/images/content/event2.jpg" alt="Los Angeles">

            </div>
            <div class="carousel-item">
                <img src="~/images/content/event3.jpg" alt="Chicago">

            </div>
            <div class="carousel-caption d-none d-md-block">
                <h1 data-wow-duration="2s">Welcome to Eventor</h1>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slider-animation" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>

<section id="team">
    <div class="container">
        <div class="row team">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            </div>
        </div>
        <div class="row team">
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/content/ostap.jpg" alt="">
                    <h4>Ostap</h4>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/content/arsen.jpg" alt="">
                    <h4>Arsene</h4>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/content/ira.jpg" alt="">
                    <h4>Ira</h4>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/images/content/marta.jpg" alt="">
                    <h4>Marta</h4>
                </div>
            </div>
        </div>
    </div>
</section>
