
@{
    ViewData["Title"] = "PromotionRequested";
}

<h4 class="text-primary">Thank you for your request to become an organizer</h4>
<hr />
<h5 class="font-weight-normal">Your request is being considered by the administrator</h5>

<h5 class="font-weight-normal">Please wait for the answer</h5>



