
@{
    ViewData["Title"] = "SuccessfulPromotion";
}

<h1>SuccessfulPromotion</h1>

<p>Congratulations you've become an organizer!. You can create and manage events now. Also, others can view youre profile.</p>
